/** css **/
 * {
        margin: 0;
        padding: 0;
        list-style: none;
        color: inherit;
        text-decoration: none;
        box-sizing: border-box;
    }
 body{
	min-width:1280px;
	max-width:1920px;
	margin:0 auto;
	position:relative;
	background:#ffffff;
}

/* 메인 팝업레이어 { */
#hd_pop {z-index:1000;position:relative;margin:0 auto;width:1200px;height:0}
#hd_pop h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
.hd_pops {position:absolute;border:1px solid #e9e9e9;background:#fff;}
.hd_pops img{max-width:100%}
.hd_pops_con {}
.hd_pops_footer {padding: 0;background:#000;color:#fff;text-align:left;position:relative;}
.hd_pops_footer:after {display:block;visibility:hidden;clear:both;content:""}
.hd_pops_footer button {padding: 10px;border:0;color:#fff}
.hd_pops_footer .hd_pops_reject{background:#000;text-align:left}
.hd_pops_footer .hd_pops_close{background:#393939;position:absolute;top:0;right:0}
/* } 메인 팝업레이어 */

/* 콘테이너 { */
.container:after {
	content: '';
	display:block;
	clear:both;
}
/* } 콘테이너 */

/* 헤더 { */
	
#header {
	width:100%;
	min-width:1280px;
	height:100px;
	position:absolute;
	left:0;
	top:0;
	z-index:100;
}
header{
	height:100px;
	position:relative;
}
#header:after {
	content:'';
	display:block;
	width:100%;
	height:1px;
	position:absolute;
	bottom:0;
	left:0;
	background:url('http://loalhost:9000/space/images/main_header_bar.png') repeat-x left top;
}
#header.sub {
	background:#ffffff;
}
.header_inner {
	position:relative;
	width:1200px;
	margin:0 auto;
	padding-top:37px;
}
.header_inner:after {
	content:'';
	display:block;
	clear:both;
}
.logo {
	position:relative;
	z-index:100;
	float:left;
}
.logo a {
	display:block;
}
#gnb {
	position:relative;
	z-index:100;
	float:left;
	margin-left:108px;
}
#gnb:after {
	content:'';
	display:block;
	clear:both;
}
#gnb a {
	display:block;
}
.depth1 {
	position:relative;
	float:left;
}
.depth1 h3 {
	position:relative;
	z-index:100;
}
.depth1 h3 a {
	padding:6px 50px 40px;
	font-family:"nanumsquare-b";
	font-size:18px;
	line-height:18px;
	letter-spacing:-1px;
}
#header #gnb .depth1 h3 a {
	color:#ffffff;
}
#header #gnb.on .depth1 h3 a {
	color:#252626;
}
#header #gnb.on .depth1.focus h3 a {
	color:#006be0;
}
#header.sub #gnb .depth1 h3 a {
	color:#252626;
}
#header.sub #gnb .depth1.focus h3 a {
	color:#006be0;
}
.depth2 {
	display:none;
	width:100%;
	padding-top:10px;
	position:absolute;
	z-index:99;
	top:52px;
	border-radius:10px;
	background:#ffffff;
}
.depth2 li h4 a {
	padding:12px 0;
	text-align:center;
	font-family:"nanumsquare-r";
	font-size:16px;
	line-height:16px;
	color:#252626;
	letter-spacing:-1px;
}
.depth2 li:first-child h4 a {
	padding:14px 0 12px;
}
.depth2 li:last-child h4 a {
	padding:12px 0 24px;
}
.depth2 .focus h4 a {
	color:#006be0;
}

.gnb_etc {
	position:relative;
	z-index:100;
	float:right;
	margin-top:8px;
}
.gnb_etc:after {
	content:'';
	display:block;
	clear:both;
}
.gnb_etc li {
	float:left;
}
.gnb_etc li + li {
	position:relative;
	padding-left:11px;
	margin-left:10px;
}
.gnb_etc li + li:before {
	content:'';
	display:block;
	width:1px;
	height:10px;
	background:#999999;
	position:absolute;
	top:2px;
	left:0;
}
.gnb_etc li a {
	display:block;
	font-family:"nanumsquare-r";
	font-size:14px;
	line-height:14px;
}
#header .gnb_etc li a {
	color:#ffffff;
}
#header .gnb_etc.on li a {
	color:#252626;
}

.header_bg_box {
	position:absolute;
	top:0;
	left:0;
	z-index:99;
	display:none;
	width:100%;
	height:100px;
	background:#ffffff;
}
.header_bg_box.on {
	display:block;
}

.subHeader {
	background:#ffffff;
}
.sub_header_top {
	border-bottom:1px solid #ebebeb;
}
.sub_header_bottom {
	border-bottom:1px solid #ebebeb;
}
.sub_header_inner {
	width:1200px;
	margin:0 auto;
}
.sub_header_inner:after {
	content:'';
	display:block;
	clear:both;
}

.sub_header_inner_top {
	padding:23px 0 22px;
}

.sub_logo {
	float:left;
}
.sub_logo a {
	display:block;
}

.sub_header_search_box {
	float:left;
	position:relative;
	box-sizing:border-box;
	background:#ffffff;
	border-bottom:2px solid #ebebeb;
	width:426px;
	padding:12px 15px;
	margin-left:106px;
	font-size:0;
	z-index:101;
}
.sub_header_search_btn {
	width:15px;
	height:15px;
	vertical-align:top;
	border:none;
	background:url('http://loalhost:9000/space/images/sub_header_search_btn.jpg') no-repeat left top;
}
.sub_header_search_text {
	width:calc(100% - 33px);
	height:15px;
	margin-left:15px;
	vertical-align:top;
	border:none;
	background:none;
	font-size:15px;
	line-height:15px;
}
.sub_header_search_list {
	display:none;
	box-sizing:border-box;
	width:100%;
	min-height:131px;
	max-height:215px;
	/* max-height:383px; */
	padding-top:5px;
	overflow-y:auto;
	position:absolute;
	top:41px;
	left:0;
	z-index:1;
	background:#f5f5f5;
}
.sub_header_search_list.on {
	display:block;
}
.sub_header_search_list li {
	padding:13px 0 13px 30px;
}
.sub_header_search_list li a {
	font-family:"nanumsquare-r";
	font-size:16px;
	line-height:16px;
	color:#252626;
}

.sub_gnb_etc {
	position:relative;
	z-index:100;
	float:right;
	margin-top:14px;
}
.sub_gnb_etc:after {
	content:'';
	display:block;
	clear:both;
}
.sub_gnb_etc li {
	float:left;
}
.sub_gnb_etc li + li {
	position:relative;
	padding-left:11px;
	margin-left:10px;
}
.sub_gnb_etc li + li:before {
	content:'';
	display:block;
	width:1px;
	height:10px;
	background:#999999;
	position:absolute;
	top:2px;
	left:0;
}
.sub_gnb_etc li a {
	display:block;
	font-family:"nanumsquare-r";
	font-size:14px;
	line-height:14px;
}

#subGnb {
	text-align:center;
}
#subGnb a {
	display:block;
}
.sub_depth1 {
	position:relative;
	display:inline-block;
}
.sub_depth1 h3 {
	position:relative;
	z-index:100;
}
.sub_depth1 h3 a {
	padding:18px 62px;
	font-family:"nanumsquare-b";
	font-size:16px;
	line-height:16px;
	letter-spacing:-1px;
	color:#252626;
	background:#ffffff;
}
.sub_depth1.focus h3 a {
	color:#006be0;
}

.sub_depth2 {
	display:none;
	width:100%;
	padding-top:10px;
	border-top:1px solid #ebebeb;
	position:absolute;
	z-index:99;
	top:42px;
	border-radius:10px;
	background:#ffffff;
}
.sub_depth2 li h4 a {
	padding:12px 0;
	text-align:center;
	font-family:"nanumsquare-r";
	font-size:16px;
	line-height:16px;
	color:#252626;
	letter-spacing:-1px;
}
.sub_depth2 li:first-child h4 a {
	padding:14px 0 12px;
}
.sub_depth2 li:last-child h4 a {
	padding:12px 0 24px;
}
.sub_depth2 .focus h4 a {
	color:#006be0;
}
/* } 헤더 */



/* 푸터 { */
#footer {
	min-width:1280px;
	background:#f9f9f9;
}
.footer_top {
	border-top:1px solid #e4e4e4;
	border-bottom:1px solid #e4e4e4;
	background:#ffffff;
}
.footer_top ul {
	text-align:center;
}
.footer_top li {
	position:relative;
	display:inline-block;
	vertical-align:top;
	padding:0 32px;
	font-size:12px;
	font-weight:bold;
	line-height:50px;
	color:#858585;
	letter-spacing:-1px;
}
.footer_top li + li:before {
	content:'';
	display:block;
	width:1px;
	height:8px;
	margin-top:-4px;
	background:#c2c2c2;
	position:absolute;
	top:50%;
	left:0;
}
.footer_top li a {
	font-size:12px;
	line-height:12px;
	color:#858585;
}
.footer_top li a.bold {
	font-size:12px;
	line-height:12px;
	color:#616161;
}

.footer_inner {
	width:1200px;
	margin:0 auto;
	padding:62px 0 60px;
}
.footer_inner:after {
	content:'';
	display:block;
	clear:both;
}
.footer_inner > div {
	float:left;
}

.footer_logo img {
	vertical-align:top;
	margin-top:30px;
}

.footer_info {
	margin-left:18px;
}
.footer_info li {
	font-size:12px;
	line-height:20px;
	color:#444444;
}
.footer_info li + li {}
.footer_info li address {
	font-size:12px;
	line-height:20px;
	color:#444444;
}
.footer_info li span {
	display:inline-block;
	font-size:12px;
	line-height:20px;
	color:#444444;
}
.footer_info li .line_before {
	margin-left:10px;
}
.footer_info li .line {
	position:relative;
	padding-left:8px;
	margin-left:7px;
}
.footer_info li .line:before {
	content:'';
	display:block;
	width:1px;
	height:8px;
	background:#acacac;
	position:absolute;
	top:6px;
	left:0;
}
.footer_info_btn {
	box-sizing:border-box;
	display:inline-block;
	width:102px;
	margin:0 3px;
	font-size:11px;
	line-height:20px;
	color:#5e5e5e;
	border:1px solid #dcdcdc;
	text-align:center;
}

.footer_inner > .footer_etc {
	float:right;
}
.footer_etc p {
	letter-spacing:-1px;
	font-size:12px;
	line-height:18px;
	color:#858585;
}
.footer_etc .color {
	color:#ff5b59;
}
.footer_etc_sns {
	margin-top:20px;
}
.footer_etc_sns:after {
	content:'';
	display:block;
	clear:both;
}
.footer_etc_sns li {
	float:left;
}
.footer_etc_sns li + li {
	margin-left:29px;
}
/* } 푸터 */

.hidden {
	display:none;	
}



